<div class="welcome-page">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-header">
      <mat-card-title class="welcome">
        <b>Welcome to Bechflix!</b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" class="reg-btn">
        Sign Up
      </button>

      <button mat-raised-button (click)="openUserLoginDialog()" class="login-btn">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>