$color: #b5d696;
$color1: #cfe4bb;
$color2: #79568f;
$color3: #e4dde8;
$pink: #c15f8e;
$dark: #7e9569;
$darkpurple: #543c64;


.toolbar {
  background-color: $color1;
  padding: 0 5px;
  width: 100%;
}

.logout-btn {
  color: $color2;
}